div.eyecandy
{
    position: relative;
    vertical-align: top;
    text-align: center;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);    
}

div.eyecandy img
{
    border: 0px;
    max-height: 250px;
    max-width: 100%;
    object-fit: contain;
}