.formula1
{
    position: relative;
    vertical-align: bottom;
    text-align: left;
    font-size: 18px;
}

.formula1 table
{
    font-size: 18px;
    position: absolute;
    bottom: 50px;
}

.formula1 table td
{
    padding-right: 10px;
}

.formula1 span
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}