.formula1
{
    text-align: center;
    position : relative;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    -moz-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);    
}

.formula1 table
{
    font-size: 0.6em;
    margin-left: auto;
    margin-right: auto;
}

.formula1 table td
{
    padding-right: 0.6em;
}

.formula1 div
{
    margin-top: 1em;
    font-size: 0.6em;
}