.formula1
{
    position: relative;
    vertical-align: bottom;
    text-align: left;
    opacity: 0.7;
}

.formula1 table
{
    font-size: 0.6em;
    position: absolute;
    bottom: 50px;
}

.formula1 table td
{
    padding-right: 0.6em;
}

.formula1 span
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 0.6em;
}