.photos img
{
    box-sizing: content-box;    
    height: 180%;    
    box-shadow: 0 0 8px 8px black inset;
}

.photos
{
    display: flex;
    align-items: center;
    justify-content: center;
}