.weatherforecast-container
{
    position: relative;
    text-align: right;
}

.weatherforecast-container table
{
    font-size: 1em;
    position: absolute;
    right: 0px;
}

.weatherforecast-container table tr td
{    
    padding: 0.25em;
    border: none;
    list-style: none;   
    text-align: right;     
}