div.weathertoday
{
    vertical-align: top;     
    text-align: right;
}
div.weathertoday i
{
    vertical-align: middle;
    font-size: 3em;
}

div.weathertoday .temp
{
    font-size: 3em;
}

div.weathertoday .description
{
    font-size: 1em;
}